<a href="https://colab.research.google.com/github/vita1pa/Auto-Tagging-Research-Articles/blob/main/Auto_Tagging_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler

In [4]:
train = pd.read_csv('/content/train_data.csv')
test = pd.read_csv('/content/test_data.csv')
sample_submission = pd.read_csv('/content/sample_submission.csv')


train.head(3



# target = train['Loan_Status']
# train['Loan_Status'] = train['Loan_Status'].map({'Y':0, 'N':1})
# # train.drop(['Loan_Status'], axis=1, inplace=True)

# idx = len(train)

                                    Instruction
0  You already have this data on jarvis lab....

In [ ]:
train_num = train.select_dtypes(np.number)
test_num = test.select_dtypes(np.number)
num = pd.concat([train_num, test_num], axis=0).reset_index(drop=True)

train_cat = train.select_dtypes(include='object')
test_cat = test.select_dtypes(include='object')
cat = pd.concat([train_cat, test_cat], axis=0).reset_index(drop=True)